<!DOCTYPE html>
<html lang="en">
<head>
  <script src="https://printjs-4de6.kxcdn.com/print.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://printjs-4de6.kxcdn.com/print.min.css">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  <title>Ocean Viking Rescues</title>
</head>
<body>
    <div class="container p-0 has-text-centered">
      <div class="columns is-centered">
        <div class="column is-one-quarter-desktop">
          <div class="field my-5">
            <label for="" class="label">Ocean Viking</label>
          </div>
          <div class="field my-5">
            {% if selected_rescue == "total" %}
              <label for="" class="label">Total rescued</label>
            {% else %}
              <label for="" class="label">Rescue number {{ selected_rescue }}</label>
            {% endif %}
          </div>
          <div class="field my-5">
            <label for="" class="label">Date: {{ date }}</label>
          </div>
        </div>
      </div>
    </div>
    <div class="container p-0 has-text-centered">
      <div class="columns is-centered">
        <div class="column is-one-third-desktop">
          <div class="block my-6">
            <label for="" class="label" style="color:#EE3224">People on board {{ total }} ({{ males }} male, {{ females }} female),</label>
            <label for="" class="label">Adults {{ total-minors }} ({{ males-minors_male }} male, {{ females-minors_female }} female),</label>
            <label for="" class="label">Minors {{ minors }} ({{ minors_male }} male, {{ minors_female }} female),</label>
          </div>
          <div class="block my-6">
              <label for="" class="label" style="color:#EE3224">Pregnant & single female {{ pregnant_women+pregnant_minors+unacc_women+unacc_minors_female }} </label>
              <label for="" class="label">Pregnant {{ pregnant_women+pregnant_minors }} ({{ pregnant_women }} adult, {{ pregnant_minors }} minor)</label>
            <label for="" class="label">Single female {{ unacc_women+unacc_minors_female }} ({{ unacc_women }} adult, {{ unacc_minors_female }} minor)</label>
          </div>
          <div class="block my-6">
              <label for="" class="label" style="color:#EE3224">People with disabilities {{ disabled }} ({{ disabled_male }} male, {{ disabled_female }} female)</label>
          </div>
          <div class="block my-6">
              <label for="" class="label" style="color:#EE3224">Medically evacuated (incl. family) {{ medevacs }} </label>
          </div>
          <div class="block my-6">
              <label for="" class="label" style="color:#EE3224">Unaccompanied minors {{ unacc_minors }} ({{ unacc_minors_male }} male, {{ unacc_minors_female }} female)</label>
              {% if minors > 0 and total > 0 %}
                <label for="" class="label">{{ '%0.2f' % (unacc_minors/minors)|float }}% of total minors, {{ '%0.2f' % (unacc_minors/total)|float }}% of total</label>
              {% endif %}
            <label for="" class="label"></label>
          </div>
          <div class="block my-6">
            <label for="" class="label" style="color:#EE3224">Age of people rescued</label>
              {% for age_group, age_count in age_value_counts.items() %}
                <label for="" class="label">{{ age_group }}: {{ age_count[0] }} ({{ '%0.2f' % (age_count[1])|float }}%)</label>
              {% endfor %}
          </div>
          <div class="block my-6">
            <label for="" class="label" style="color:#EE3224">Country of people rescued</label>
              {% for country, country_count in country_counts.items() %}
                <label for="" class="label">{{ country }}: {{ country_count[0] }} ({{ '%0.2f' % (country_count[1])|float }}%)</label>
              {% endfor %}
          </div>
        </div>
      </div>
    </div>
</body>
</html>